html {
    scroll-behavior: smooth;
}
.overlay {
    position: absolute;
    top: 100px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 8px 32px 0px rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: none;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slide-right {
    from {
        transform: translateX(-150%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes latido {
    0%{transform: scale(1);}
    50%{transform: scale(0.95);}
    100%{transform: scale(1);}
}

header {
    animation: fade 1s ease-out;
}
.hero__img {
    animation: slide-right 2.5s ease-out;
}
.header__logo {
    animation: latido 5s linear infinite alternate;
}
.hero__botones {
    opacity: 0;
    animation: fade 1.5s ease-in forwards;
    animation-delay: 2.2s;
}
.hero__info__text {
    opacity: 0;
    animation: fade 1.5s ease-in forwards;
    animation-delay: 1.2s;
}
