@media (max-width: 992px) /*hasta 768px*/ {
    .header__form {
        position: absolute;
        left: 50px;
        top: 72px;
    }
    .hero__img img {
        width: 90%;
    }
    #about-us {
        height: 300px;
    }
    .gradient__bg {
        height: 300px;
    }
    .au__info p {
        font-size: 16px;
    }
    .cards__title h2 {
        font-size: 22px;
    }
    .cards__second__title h3 {
        font-size: 18px;
    }
    .contact__info__text h2 {
        font-size: 24px;
    }
    .contact__info__text {
        text-align: center;
    }
}

@media (max-width: 768px) /*hasta 576px*/ {
    .navbar__list {
        position: absolute;
        top: 100px;
        left: 5%;
        right: 5%;
        width: 90%;
        background: linear-gradient(rgba(0, 44, 0, 0), #131415 30%);
        border: 1px solid grey;
        border-top: 0px;
        border-radius: 0px 0px 15px 15px;
        align-items: center;
        justify-content: space-evenly;
        padding: 50px 8px 25px 8px;
        z-index: 2;
        transform: translateY(-250%);
        transition: all 0.5s ease-in-out;
        }
    .menu-label {
        display: flex;
        order: 2;
        padding: 10px;
        cursor: pointer;
        height: fit-content;
        align-self: center;
        transition: all 0.2s ease-in;
        margin-left: 25px;
    }
    .menu-label:hover {
        color: darkorange;
        transition: all 0.2s ease-out;
    }
    #menu-toggle:checked + .navbar__list {
        transform: translateY(0%);
        transition: all 0.5s ease-in-out;
    }
    .header__form {
        top: 80px;
        left: 30%;
    }
    .hero__info {
        height: 60%;
        flex-direction: column;
        padding: 15px;
        align-items: center;
        justify-content: space-around;
    }
    .hero__botones {
        flex-direction: row;
        gap: 40px;
    }
    .hero__info__text p {
        font-size: 16px;
    }
    .hero__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 0;
    }
    .hero__img img {
        width: 100%;
        height: 100%;
    }
    .cards__second__title {
        width: 85%;
    }
    .cards__title h2 {
        width: 75%;
    }
    #contact {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact__info {
        width: 100%;
    }
    .contact__iframe {

        width: 80%;
        height: 400px;
    }
    #footer p span {
        font-size: 15px;
    }
}
@media (max-width: 576px) /*hasta 320px*/ {
    header {
        padding: 0px;
        justify-content: space-evenly;
        align-items: center;
        height: 60px;
    }
    .header__form__cart {
        padding: 0;
        margin: 0;
    }
    .menu-label {
        padding: 0;
        margin: 0;
    }
    .header__logo {
        font-size: 20px;
    }
    .header__logo img {
       height: 70px;
    }
    .header__form {
        display: none;
    }
    #hero {
        margin-top: 0px;
    }
    #menu-toggle:checked + .navbar__list {
        transform: translateY(-50%)
    }
    .cart {
        top: 60px;
        left: 0;
        width: 100%;
        border: none;
        padding: 5px 15px 30px 15px;
        align-items: center;
    }
    .item-handler {
        flex-direction: column-reverse;
    }
    .divider {
        width: 90%;
    }
    .cart button {
        width: 50%;
    }
    .cart-total {
        gap: 15px;
    }
    #about-us {
        height: 400px;
    }
    .gradient__bg {
        height: 400px;
    }
    .cards__title h2 {
        font-size: 17px;
    }
    .cards__second__title,
    .cards__second__title h3{
        font-size: 15px;
    }
    .contact__iframe {
        width: 100%;
    }
    .footer {
        width: 100%;
    }
    .footer p {
        font-size: 12px;
    }
    .logreg__header__logo {
        font-size: 20px;
    }
    .logreg__header__logo img {
        height: 70px;
    }
    .logreg__return {
        position: absolute;
        top: 60px;
        left: 42%;
    }
    .logreg__footer p {
        font-size: 13px;
    }
    .logreg__footer p span {
        font-size: 13px;
    }
    .logreg__footer img {
        height: 70px;
    }

}
