* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#131415 40%,transparent);
    height: 100px;
    max-width: 1400px;
    width: 100%;
    position: fixed;
    color: whitesmoke;
    z-index: 3;
}
#menu-toggle,
#cart-toggle,
.menu-label {
    display: none;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar__list {
    display: flex;
    gap: 45px;
    font-size: 22px;
    padding-left: 40px;
}
.navbar__list li i{
    transition: all 0.2s ease-in-out;
}
.navbar__list li i:hover {
    color: darkorange;
    transition: all 0.2s ease-out;
}
.navbar__list li a {
    display: flex;
    color: whitesmoke;
    gap: 6px;
}
.logo {
    height: 100px;
}
.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: Impact;
    letter-spacing: 1px;
    color: #2192FF;
    text-shadow: 1px 1px 1px black;
}
.header__form__cart {
    display: flex;
    gap: 45px;
    justify-content: center;
    align-items: center;
}
.header__form {
    display: flex;
    gap: 5px;
    font-size: 25px;
}
.form__input{
    border-radius: 5px;
    border: none;
    padding: 5px;
    height: 20px;
}
.cart-label {
    font-size: 22px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}
.cart-label i {
    transition: all 0.2s ease-in-out;
}
.cart-label i:hover {
    color: darkorange;
    transition: all 0.2s ease-out;
}
#cart-toggle:checked + .cart {
    transform: translateX(0%);
    transition: all 0.5s ease-in-out;
}
#cart-toggle:checked ~ .overlay {
    display: block;
}
#menu-toggle:checked ~ .overlay {
    display: block;
}
.cart {
    position: absolute;
    top: 100px;
    right: 0;
    padding: 10px 25px 30px 25px;
    background: whitesmoke;
    border-left: 2px solid rgb(69, 38, 180);
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: calc(100vh - 100px);
    overflow-y: scroll;
    z-index: 2;
    transform: translateX(200%);
    transition: all 0.5s ease-in-out;
    font-family: tahoma;
}
.cart::-webkit-scrollbar {
    display: none;
}
.cart h2 {
    font-size: 18px;
    font-style: italic;
    margin-top: 10px;
    color: #131415;
}
.cart-item {
    display: flex;
    gap: 15px;
    background-color: lightgray;
    border: 1px solid rgb(69, 38, 180);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 5px #131415;
}
.cart-item img {
    height: 100px;
    width: 150px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
.item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 12px;
    gap: 8px;
    color: #131415;
}
.item-handler {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}
.quantity-handler {
    border: 1px solid #131415;
    border-radius: 5px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    width: 25px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.quantity-handler:hover {
    background: rgb(233, 114, 35);
    transition: all 0.2s ease-out;
}
.item-price{
    font-weight: 600;
}
.divider {
    border: 1px solid rgb(69, 38, 180);
    margin-top: 15px;
}
.cart-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-total p {
    font-size: 18px;
    font-weight: 600;
    color: #131415;
}
.cart-total span {
    font-size: 20px;
    color: rgb(69, 38, 180);
}
.cart button {
    background: whitesmoke;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    box-shadow: 3px 3px 5px #131415;
    color: rgb(69, 38, 180);
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.cart button:hover {
    color: #131415;
    background: rgb(233, 114, 35);
    transition: all 0.2s ease-out;
}

#hero {
    max-width: 1400px;
    width: 100%;
    height: 100vh;
    background-image: url(./img/hero_img/cesped3.jpg);
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero__info {
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
    align-items: center;
    text-align: center;
    height: 250px;
    width: 90%;
    background-color: #13141596;
    border-radius: 10px;
    position: absolute;
    top: center;
    color: white;
}
.hero__info__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.hero__info h1 {
    font-family: tahoma;
    letter-spacing: 0px;
    font-size: 30px;
    font-weight: 700;
    background: linear-gradient(90deg, silver 0%, whitesmoke 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.hero__info p {
    font-family: tahoma;
    font-size: 18px;
    font-weight: 600;
    background: linear-gradient(90deg, silver 0%, whitesmoke 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.hero__botones {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.hero__botones button {
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background: darkorange;
}
.hero__botones button a {
    color: #131415;
    font-family: Tahoma;
    font-size: 13px;
    font-weight: 600;
    transition: all 0.2s ease-out;
}
.hero__botones button a:hover {
    color: whitesmoke;
    transition: all 0.2s ease-out;
    text-shadow: 1px 1px 1px black;
}
.hero__img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: center;
    padding-left: 30%;
}
.hero__img img {
    width: 70%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #131415;
}

#about-us {
    max-width: 1400px;
    width: 100%;
    height: 350px;
    background-image: url(./img/hero_img/cesped3.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.gradient__bg {
    width: 100%;
    height: 350px;
    background: linear-gradient(transparent 10%,#131415 70%);
    position: absolute;
    z-index: 1;
}
.au__info {
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    width: 90%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.au__info h2 {
    font-family: tahoma;
    font-size: 25px;
    font-weight: 600;
    text-shadow: 2px 2px 2px #2192FF;
    letter-spacing: 1px;
}
.au__info p {
    font-family: tahoma;
    font-size: 18px;
    text-shadow: 1px 1px 1px black;
}
.au__redes {
    display: flex;
    flex-direction: column;
    width: 90%;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    gap: 18px;
    z-index: 2;
}
.au__redes p {
    font-family: tahoma;
    font-size: 18px;
    text-shadow: 1px 1px 1px black;
}
.au__redes__iconos {
    display: flex;
    gap: 25px;
    font-size: 30px;
}
.au__redes__iconos a {
    display: flex;
    font-size: 30px;
    transition: all 0.2s linear;
    color: darkorange;
}
.au__redes__iconos a:hover {
    transform: scale(1.2);
    transition: all 0.2s linear;
    color: #2192FF;
}